<%- include('includes/head.ejs') %>
<!-- make css file for about us page -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <%- include('includes/navigation.ejs') %>

    <div class="contain">
        <div class="strip1">
            <h1>Vision <br><span>&</span>Mission</h1>
            <p><b>Vision</b><br>
                Connected Vision is what we aim to achieve. An innovative and technology enabled Vision 
                that is focused on what our customers want to achieve. Helping you build the ecosystem 
                to accelerate and improve your outcomes. Which will unlock the door to new possibilities.
            </p>
        </div>

        <div class="strip2">
            <p><b>Mission</b><br>
                <span>Is to help you shape and evolve your business while putting you first by:</span><br>
                <br>
            </p>
            <ul>
                <li><span>01 - </span>Helping you research the market which you intend to tackle.</li>
                <li><span>02 - </span>Advice you to which choices are right for you.</li>
                <li><span>03 - </span>Building the right connections for you.</li>
                <li><span>04 - </span>Researching the top technology enabler in your filed and making the connection.</li>
                <li><span>05 - </span>Helping you overcome the challenges and obstacles you face.</li>
            </ul>
        </div>

        <div class="strip3">
            <img src="./images/aboutUs/xu-haiwei-_3KdlCgHAn0-unsplash(1).jpg" alt="">
        </div>
    </div>
    <script src="../js/aboutUs.js"></script>

<%- include('includes/end.ejs') %>
