<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/jobForm.css">
    <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
   /> 
   <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

</head>
<body>

    <%- include('includes/navigation.ejs') %>
    
        <!-- there Bootstrap doesn't work -->
    <div class="bootstrap backimg">
        <form action="/job-form" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name <span>*</span></label>
                <input type="text" name="firstName" class="form-control" id="firstName" aria-describedby="nameHelp" placeholder="First Name" required>
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name <span>*</span></label>
                <input type="text" name="lastName" class="form-control" id="lastName" aria-describedby="nameHelp" placeholder="Last Name" required>
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>

            <div class="mb-3">
                <label for="workEmail1" class="form-label">Email Address <span>*</span></label>
                <input type="email" name="email" class="form-control" id="workEmail1" aria-describedby="emailHelp" placeholder="Email Address" required>
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
              </div>

            <div class="mb-3">
                <label for="inputMobile" class="form-label">Mobile no. <span>*</span></label>
                <input type="tel"  name="phone" class="form-control" id="phone" required>
                <span id="valid-msg" class="hide"></span>
                <span id="error-msg" class="hide"></span>
                <input type="hidden" name="mobile" id="mobile">
            </div>

            <!-- Sector dropdown list -->
            <div class="mb-3">
                <div class="system"> 

                    <div class="box-container">
                        <label for="sector">Sector <span>*</span></label>
                        <div class="select-box">
                        
                            <div class="options-container">
            
                                <% for (sector of sect) { %>
                                <div class="option">
                                    <input  class="item">
                                    <label><%= sector.sector%></label>
                                </div>
                                <% } %>
                                                
                            </div>
            
                            <div class="selected">
                                <input id="sector" type="text" name="sector" placeholder="Select Sector" autocomplete="off" required>
                            </div>
            
                            <div class="search-box">
                                <input type="text" placeholder="Search...">
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
            
            <!-- Time dropdown list -->
            <div class="mb-3">
                <div class="system">        
                    <div class="box-container">
                        <label for="sector">Time pattern <span>*</span></label>
                        <div class="select-box">                        
                            <div class="options-container ocList">
                                            
                                <div class="option">
                                    <input  class="item">
                                    <label>Full-time</label>
                                </div>
                                            
                                <div class="option">
                                    <input  class="item">
                                    <label>Part-time</label>
                                </div>            
                            </div>
                                            
                            <div class="selected">
                                <input id="sector" class="time-pattern" type="text" name="timePattern" placeholder="Select time pattern" autocomplete="off" required>
                            </div>     
                            <div class="search-box">
                                <input type="hidden" placeholder="Search...">
                            </div>            
                        </div>
                    </div>                         
                </div>
            </div>

            <div class="mb-3">
                <label for="inputInterest" class="form-label">Your interest</label>
                <input type="interest" name="interest" class="form-control" id="inputInterest" aria-describedby="interestHelp" placeholder="Your interest">
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>

            <div class="mb-3">
                <!-- <form action="/upload-file" method="post" enctype="multipart/form-data"> -->
                    <label for="inputInterest" class="form-label">CV <span>*</span></label>
                    <input type="file" name="cv" accept=".pdf" class="form-control" id="inputInterest" aria-describedby="interestHelp" required>
                    <!-- <input type="hidden" name="upload" value="upload"> -->
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                <!-- </form> -->
            </div>


            <div class="mb-3">
              <label for="inputComment" class="form-label">Cover Letter</label>
              <textarea name="coverLetter" id="coverletter" placeholder="Write Something..."></textarea>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
              <label class="form-check-label" for="exampleCheck1">I agree for Connected Vision Ltd to save my
                  details and share it with third parties.
              </label>
            </div>
            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <!-- there Bootstrap doesn't work-->

    
    <script type="module" src="/js/forms/jobForm.js"></script>

<%- include('includes/end.ejs') %>