<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="css/meetTheTeam.css">
</head>
<body>

    <%- include('includes/navigation.ejs') %>

    <div class="container">
    <!-- Person 1 -->
        <div class="card">
            <div class="photo">
            <img src="./images/dalia.jpeg" alt="">
            </div>

            <div class="description">
            <h3>Dalia Abouelmaati</h3>
            <p>MIET, MSc , BSc
                Founder & Chief Technology Officer </p>
            </div>
        </div>

        <!-- Person 2 -->
        <div class="card">
            <div class="photo">
            <img src="./images/Pr-Mo.jpg" alt="">
            </div>

            <div class="description">
            <h3>Professor Mohamed A. Imam</h3>
            <p>MD, MSc, D. SportMed, PhD, FRCS (Tr and Orth)
                Director at Connected Vision Group </p>
            </div>
        </div>

        <!-- Person 3 -->
        <div class="card">
            <div class="photo">
            <img src="./images/aya.jpeg" alt="">
            </div>
        
            <div class="description">
            <h3>DR. Aya Abouelmaati </h3>
            <p>Pharmaceutical and Life Science Research Lead at Connected Vision Group</p>
            </div>
        </div>

        <!-- Person 4 -->
        <div class="card">
            <div class="photo">
            <img src="./images/Dr-Nour.jpg" alt="">
            </div>
        
            <div class="description">
            <h3>DR. Nour Kader</h3>
            <p>MSc, BSc
                Healthcare & Life Science Research Lead at Connected Vision Group 
                </p>
            </div>
        </div>

        <!-- Person 5 -->
        <div class="card">
            <div class="photo">
            <img src="./images/blerina.jpeg" alt="">
            </div>
        
            <div class="description">
            <h3>Blerina Karjani</h3>
            <p>MSc, BSc
                Telecom and Future Technology Lead at Connected Vision Group
                </p>
            </div>
        </div>

        <!-- Person 6 -->
        <div class="card">
            <div class="photo">
            <img src="./images/menna.jpeg" alt="">
            </div>
        
            <div class="description">
            <h3>Menna Abouelmaati</h3>
            <p>Digital Marketing & Media Consultant at Connected Vision Group 
            </p>
            </div>
        </div>

    </div>
<%- include('includes/end.ejs') %>