*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: montserratRegular;
    src: url(../fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: montserratBold;
    src: url(../fonts/montserrat/Montserrat-Bold.otf);
}


.bootstrap{
    width: 100%;
}

table {
    width: 95%;
    /* margin: 20px; */
    /* margin: 50px; */
    margin: 0 auto;
    border-collapse: collapse;
}

/* Table row numbers */

table
{
    counter-reset: rowNumber;
}

table tr > td:first-child
{
    counter-increment: rowNumber;
}

table tr td:first-child::before
{
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

/*  */


table, th, td {
    /* border: 1px solid; */
    border-bottom: 1.5px solid rgb(0, 0, 0, .2);
    border-right: 1.5px solid rgb(0, 0, 0, .2);
    padding: 0.3rem;
    text-align: center;
    font-family: montserratRegular;
}

table, thead, th{
    font-family: montserratBold;
}

/* End Note field in the table */