*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body, html{
    height: 100%;
}

@font-face {
    font-family: sportingGrotesque;
    src: url(../fonts/Sporting-Grotesque-main/fonts/SportingGrotesque-Regular.otf);
}

@font-face {
    font-family: montserratRegular;
    src: url(../fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: montserratMedium;
    src: url(../fonts/montserrat/Montserrat-SemiBold.otf);
}

/* form */

.bootstrap{
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;

    background-size: cover;
    font-family: montserratRegular;
}

form {
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(255, 255, 255, .9);
    width: 800px;
    /* height: 400px; */
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    border-radius: 8px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

form label:nth-child(1){
    margin-top: 20px;
}

.bootstrap .mb-3{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 20px;
    padding: 10px; ;
    
}

.bootstrap .form-check{
    margin-left: 40px;
    display: block;
    margin-bottom: 0.5rem;
}

.bootstrap .form-check input{
    position: absolute;
}

.bootstrap button{
    width: 200px;
}

.bootstrap button:hover{
    cursor: pointer;
}

.bootstrap .form-check input{
    margin-left: -0.25rem;
    margin-top: 0.4rem;
    display: inline-block;
}

.bootstrap .form-check input:hover{
    cursor: pointer;
}

.form-check-label{
    padding-left: 1.25rem;
    margin-bottom: 0;
    cursor: pointer;
}

.backimg{
    background-image: url('/images/GA.jpg');
}
/*  */


/* #asteriskj1::after {
    content: ' *';
    position: absolute; */
    /* height: 100%; */
    /* width: 10px;
    right: 430px;
    top: 9.5px;

    color: red;
} */

#asteriskj2::after {
    content: ' *';
    position: absolute;
    /* height: 100%; */
    width: 10px;
    right: 430px;
    top: 100px;

    color: red;
}

#asteriskj3::after {
    content: ' *';
    position: absolute;
    /* height: 100%; */
    width: 10px;
    right: 407px;
    top: 190px;

    color: red;
}

#asteriskj4::after {
    content: ' *';
    position: absolute;
    /* height: 100%; */
    width: 10px;
    right: 435x;
    top: 280px;

    color: red;
}

#asteriskj5::after {
    content: ' *';
    position: absolute;
    /* height: 100%; */
    width: 10px;
    right: 460px;
    top: 370px;

    color: red;
}

#asteriskj6::after {
    content: ' *';
    position: absolute;
    /* height: 100%; */
    width: 10px;
    right: 416px;
    top: 460px;

    color: red;
}

#asteriskj7::after {
    content: ' *';
    position: absolute;
    /* height: 100%; */
    width: 10px;
    right: 485px;
    top: 638px;

    color: red;
}

#coverletter{

    display: block;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;

    /* resize: none; */
    min-height: 200PX;
    max-height: 800px;
}

/* dropdown list */
.system{
    width: 100%;
    /* margin-top: 15px; */
    /* margin-left: 50px; */
    padding: 0px;
    display: flex;
    /* flex-direction: column; */
    justify-content: left;

}

@media (max-width: 60em){
 .system{
     flex-direction: column;
 }   
}


.system h3{
    font-size: 1rem;
    margin: 16px;
    width: max-content;
}

.box-container{
    width: 100%;
    /* padding: 10px; */
    /* margin: 10px 0 0 80px; */
}

.box-container span{
    color: red;
}


.select-box{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
}


.select-box .options-container{
    background: #fff;
    /* color: #464a4c; */
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    overflow: hidden;

    order: 1;

    position: absolute;
    z-index: 100;
}

.selected{
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    /* color: #464a4c; */
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;

    order: 0;
}


.selected::after{
    content: '';
    background: url("/images/forms/arrow-down-svgrepo-com.svg");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 28px;
    right: 10px;
    top: 6px;


    transition: all 0.4s;
}

.select-box .options-container.active-box{
    max-height: 140px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 74px;
    border: 1px solid rgba(0, 0, 0, 0.15);

    border-radius: 0 0 .25rem .25rem;
}

.select-box .ocList.active-box{
    max-height: 140px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 38px;
    border: 1px solid rgba(0, 0, 0, 0.15);

    border-radius: 0 0 .25rem .25rem;
}

.select-box .options-container.active-box + .selected::after{
    transform: rotateX(180deg);
    top: -6px;
}

/* Editing scroll bar */
.select-box .options-container::-webkit-scrollbar{
    width: 8px;
    background: #fff;
    border-radius: 0 .25rem .25rem 0;
}

.select-box .options-container::-webkit-scrollbar-thumb{
    background: #464a4c;
    border-radius: 0 0 .25rem 0;
}


.bootstrap label{
    display: inline-block;
}

.select-box .option,
.selected{
    padding: .5rem .75rem;;
    cursor: pointer;
}

.select-box .option:hover{
    background: #86817c;
}

.select-box label{
    cursor: pointer;
}

.select-box .option .item{
    display: none;
}

.selected input{
    width: 93%;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    color: #000;
}

.selected input:focus{
    outline: none;
}
/* Search Box */

.search-box input{
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    position: absolute;
    z-index: 100;
    border: 1px solid rgba(0, 0, 0, 0.15);

    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
    border-radius: .25rem .25rem 0px 0px;
}

.search-box input:focus{
    outline: none;
}

.select-box .options-container.active-box ~ .search-box input{
    opacity: 1;
    pointer-events: auto;
}
.mb-3 .system h3{
    font-size: 1rem;
}

.form-control{
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;

    order: 0;
}

.form-label span{
    color: red;
}

.btn {
    color: #fff;
    background: linear-gradient(to right, #ff8038 0%, #fc454d 70%, #fc216e 100%);
    border-color: transparent;

    font-weight: 400;
    line-height: 1.25;
    /* border: 1px solid transparent; */
    border: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 15px;
    font-family: montserratMedium;
}

input{
    font-family: montserratRegular;
}

textarea{
    font-family: montserratRegular;
    color: #000;
}

/* to delete placeholder when focus */
input:focus::placeholder{
    color: transparent;
}

textarea:focus::placeholder{
    color: transparent;
}


