*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: sportingGrotesque;
    src: url(../fonts/Sporting-Grotesque-main/fonts/SportingGrotesque-Regular.otf);
}

@font-face {
    font-family: montserratRegular;
    src: url(../fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: montserratMedium;
    src: url(../fonts/montserrat/Montserrat-SemiBold.otf);
}

/* Header */

.flex{
    display: flex;
    gap: var(--gap, 1rem);
}

.sr-only{
    display: none;
}

.header{
    width: 100%;
    height: 80px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.inner_header{
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.logo_container{
    margin: 2rem;
    cursor: pointer;
}

.logo_container img{
    width: 244px;
}

.logo_container h1{
    color: #000;
    /* font-family: sportingGrotesque; */
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.mobile-nav-toggle{
    display: none;
}

.navigation{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li{
    height: 100%;
    float: left;
    padding: 0px 20px;
    cursor: pointer;
}

.navigation li a{
    color: #000;
    font-family: sportingGrotesque;
    font-size: 12px;
    
}

.navigation li a:hover{
    /* color: brown; */
    background: linear-gradient(to right, #4fc7ff 0%, #2463ff 50%, #0b00b0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

button:hover {
    cursor: pointer;
}

.active{
    background: linear-gradient(to right, #4fc7ff 0%, #2463ff 50%, #0b00b0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media (max-width: 80em){
    .navigation{
        --gap: 2em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        background: rgb(255, 255, 255, .95);
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url(/images/menu-svgrepo-com.svg);
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expand="true"]{
        background-image: url(/images/close-svgrepo-com.svg);
    }

}

@supports (backdrop-filter: blur(1rem)){
    .navigation{
        background: rgb(255, 255, 255, 0.5);
        backdrop-filter: blur(1rem);
    }
}