*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: sportingGrotesque;
    src: url(../fonts/Sporting-Grotesque-main/fonts/SportingGrotesque-Regular.otf);
}

@font-face {
    font-family: montserratRegular;
    src: url(../fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: montserratMedium;
    src: url(../fonts/montserrat/Montserrat-SemiBold.otf);
}

/* Cards */

  /* Service Page */
  
  .head-page{
    position: relative;
    width: 100%;
    height: 300px;
    background: black;
}

.head-image{
    position: relative;
    display: block;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.head-page .txt{
    position: absolute;
    color: #fff;
    letter-spacing: 2px;
    line-height: 35px;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 1.5s;
    animation-name: posi;
    animation-duration: 1.5s;
    z-index: 1;
}

@-webkit-keyframes posi{
    from{top: 60%;}
    to{top: 40%;}
}

@keyframes posi{
    from{top: 60%;}
    to{top: 40%;}
}

.head-page .txt h1{
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 60px;
}

.head-page img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation-duration: 40s;
    opacity: 50%;
}

.serveces-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: white;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}

.card{
    background: rgb(255, 255, 255, .9);
    width: 400px;
    height: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* border-radius: 30px; */
}

.card-img{
    height: 250px;
    margin-bottom: 15px;
    background-size: cover;
    /* border-radius: 30px 30px 0 0; */
}

.healthSocial{
    background-image: url('/images/sectors/marcelo-leal-k7ll1hpdhFA-unsplash.jpg');
}

.pharm{
    background-image: url('/images/sectors/national-cancer-institute-KMvoHcB-w5g-unsplash.jpg');
}

.lifeSci{
    background-image: url('/images/sectors/national-cancer-institute-oCLuFi9GYNA-unsplash.jpg');
}

.industmanuf{
    background-image: url('/images/sectors/ant-rozetsky-SLIFI67jv5k-unsplash.jpg');
}

.farmAgri{
    background-image: url('/images/sectors/zoe-schaeffer-D_VjFp1ds1Y-unsplash.jpg');
}

.food{
    background-image: url('/images/sectors/spencer-davis-W_GSHCi0cR8-unsplash.jpg');
}

.creativeIndust{
    background-image: url('/images/sectors/kelly-sikkema-o2TRWThve_I-unsplash.jpg');
}

.energy{
    background-image: url('/images/sectors/jason-blackeye-nyL-rzwP-Mk-unsplash.jpg');
}

.trans{
    background-image: url('/images/sectors/chuttersnap-eqwFWHfQipg-unsplash.jpg');
}

.edu{
    background-image: url('/images/sectors/element5-digital-OyCl7Y4y0Bk-unsplash.jpg');
}

.automotive{
    background-image: url('/images/sectors/julian-hochgesang-3-y9vq8uoxk-unsplash.jpg');
}

.edu{
    background-image: url('/images/sectors/element5-digital-OyCl7Y4y0Bk-unsplash.jpg');
}

.card h2{
    color: black;
    font-size: 18px;
    padding: 10px;
    font-family: sportingGrotesque;
}

.card p{
    color: black;
    padding: 10px;
}

.card a{
    background: linear-gradient(to right, #ff8038 0%, #fc454d 70%, #fc216e 100%);
    color: white;
    display: block;
    text-align: center;
    padding: 15px 20px;
    margin: 20px 100px;
    border-radius: 15px;
    font-family: montserratRegular;
}


.card:hover{
    position: relative;
    transform: translate(0%, -5%);
    -webkit-animation-name: posi2;
    -webkit-animation-duration: 0s;
    animation-name: posi2;
    animation-duration: 1s;
}

  /* End Service Page */