<form action="/clints-form" method="get">
    <!-- <a href="/clints-form" id="healthSocialButton">More info</a> -->
    <button type="submit">More info</button>
    <input type="hidden" name="sectorName" value="<%= pageTitle %>">

</form>