<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/sectors/sectors.css">

</head>
<body>

    <%- include('../includes/navigation.ejs') %>
    
    <div class="head-page">
        <div class="head-image">
            <div class="txt">
                <h1>Creative Industries</h1>
            </div>
            <img alt="" src="/images/sectors/kelly-sikkema-o2TRWThve_I-unsplash.jpg">
    </div>
    
    <div class="container">
        <p>
            Creative industries play an important role not only from the profit perspective but they encourage 
            further cultural diversity and values. The Covid pandemic has further urged the development of new 
            technologies and the usage of tech-based products and services. However, the introduction of advanced 
            technology has raised questions about copyright values, and the protection of privacy within the creative 
            industries themselves. When it comes to digitalisation, creativity has shown more resilience compared to 
            other industries. Advanced Technologies including AI, Augmented & Virtual Reality (AR/VR ), cloud and 
            blockchain have deeply transformed and influenced different fields of creative industries.
        </p>


        <h2>
            AR/VR Technology 
        </h2>
    
        <p class="sub-content">
            The introduction of AR/VR technology has deeply influenced creative industries such as Film, Media, 
            Design and Video Games. AR/VR technology has improved user experience in online video games creating 
            real-life experiences. The technological tools behind AR/VR are 3D effects, motion tracking, and interactive 
            graphics. As the potential of AR/VR consists in bringing together virtual and real experiences, the ability 
            to put digital information and real-time into one will be a turning point for game designers. The use of 
            AR/VR has seen a significant increase during pandemic times which enables users to visit a museum virtually 
            from any other location. Also, the Film Industry has seen an increase in virtual film-making 
            where viewers become part of the story. The AR/VR will also play a significant transformation in the 
            architecture and the design of the product. The architects can attend events where they can communicate 
            about building strategies while laying digital data on the construction site. However, with the advantages 
            of new technologies comes a range of ethical and social questions. For example, the extended time of headsets 
            causes physical and cognitive discomfort and could be a potential risk in the game industry.
        </p>

        <h2>
            Artificial Intelligence 
        </h2>
    
        <p class="sub-content">
            Even though creativity is a human attribute and is hard to be replaced, Artificial Intelligence is another 
            technology that is impacting creative industries and their processes. With the further development of AI, 
            machines are used to adapt and create new content. In music, AI not only shares music but is used as an 
            automated producer. It generated music recommendation machines utilising information from users' interaction, 
            language processing and song similarity to recommend songs that keep the users happy. AI plays an important 
            part in the film industry too, starting from the scripting process, casting actors, composing music, from 
            editing movies to promotion. However, the use of artificial intelligence is complicated. AI is highly 
            dependent on users' creativity but it is still a question if it can operate on its own. Also, due to the 
            complexity of musical content, the automation process of it is quite difficult.
        </p>

        <h2>
            Blockchain 
        </h2>
    
        <p class="sub-content">
            Blockchain applications in creative industries are related to fundraisings, micropayments, platform management 
            and property management. One of the vital roles that blockchain plays is copyright tracking. By allowing 
            registration of the creative work, this technology provides ownership at a lower cost, while allowing the 
            new businesses for artistic work. Another benefit of blockchain technology is protected through all the 
            stages of creative work. The film industry is also using blockchain technology. It offers protection for 
            artists throughout the lifecycle of a film. Blockchain plays an important role in the gaming industry too 
            where it is used to create decentralised digital games. The design industry also uses blockchains to help 
            protect products against counterfeiting which has negatively affected the fashion industry as retailers have 
            doubts about the originality of a product. However, with the introduction of the decentralised databases, the 
            data is securely stored for new products and designs. In that way, it has become more secure to buy, sell, 
            collect and recycle original products.
        </p>

        <!-- <a href="/clints-form">More info</a> -->
        <%- include('../includes/sectorsButton.ejs') %>
    </div>

    <script src="/js/sectors/creativeIndust.js"></script>

<%- include('../includes/end.ejs') %>