<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/sectors/sectors.css">

</head>
<body>

    <%- include('../includes/navigation.ejs') %>
    
    <div class="head-page">
        <div class="head-image">
            <div class="txt">
                <h1>Energy Sector</h1>
            </div>
            <img alt="" src="/images/sectors/jason-blackeye-nyL-rzwP-Mk-unsplash.jpg">
    </div>
    
    <div class="container">
        <p>
            Recent global changes and the government's demands for sustainable energy resources suggest quick 
            transformations in the energy sector. The changing customer demands for its energy sources are shaping 
            the way the energy system will operate in the future. Now more than ever the business has to push its 
            boundaries to find better and more efficient ways to meet the customer's demand through innovative energy 
            solutions. Also, climate change and global warming have shifted the attention to renewable energy sources. 
            These sources include solar, wind and geothermal which transform into efficient energy. There is a range of 
            innovative technologies which are designed and catered to different ways of power generated, thus cutting 
            manufacturing costs and increasing generating power efficiency. The smart grid has brought the energy industry 
            into a new era that will further boost our economic growth and environmental health. The use of drones is another 
            useful technology which will help with tracking the power lines and removing debris from them, especially in 
            remote areas. Digital twins technology recommends duplication of real assets and warns about potential issues 
            so that immediate action can be taken.
        </p>


        <h2>
            IoT- Internet of Energy 
        </h2>
    
        <p class="sub-content">
            Internet of Energy is a term used to describe the IoT implementation into energy systems to improve 
            efficiency and enhance productivity in the energy sector. Thus IoE is a smart technology that incorporates 
            IoT to create data, while AI collects the data generated to predict errors and perform tasks accomplished 
            before by humans. One example of tech innovations with AI is the smart grid. It is an electrical network 
            advanced with innovative technologies. IoT sensors enable utility businesses to watch grid assets in real-time. 
            AI predicts future problems and peak energy demand. It also calculates energy bills according to consumer 
            behaviour and weather forecast.
        </p>

        <h2>
            Self Piloted Drones 
        </h2>
    
        <p class="sub-content">
            The use of Drones has its benefits in the energy sector, especially in the accessibility of remote sites. 
            Only self-piloted Drones can gather data from sensors and get high-quality images from any angle.
        </p>

        <h2>
            Digital Twins 
        </h2>
    
        <p class="sub-content">
            Digital twin technology offers virtual clones of real assets. Sensors connected to equipment units provide 
            performance data to virtual clones of physical assets. The given input data is then processed via machine 
            learning algorithms to detect and alert the operators about possible system failures so they can take instant 
            measures. Digital twins maintain energy equipment remotely and get data from both sensors and drones. 
        </p>

        <%- include('../includes/sectorsButton.ejs') %>
    </div>

    <script src="/js/sectors/energy.js"></script>

<%- include('../includes/end.ejs') %>