<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/sectors/sectors.css">

</head>
<body>

    <%- include('../includes/navigation.ejs') %> 
    
    <div class="head-page">
        <div class="head-image">
            <div class="txt">
                <h1>Farming & Agriculture</h1>
            </div>
            <img alt="" src="/images/sectors/zoe-schaeffer-D_VjFp1ds1Y-unsplash.jpg">
    </div>
    
    <div class="container">

        <h2>
            Farming & Agriculture
        </h2>

        <p>
            The use of technology in agriculture has revolutionised the way farming is operated. It has shortened 
            crop production time while producing even larger quantities of food meeting the customer demands, 
            reducing the cost of production and increasing the business profit. The introduction of autonomous 
            farm machines based on GPS technology, Drone Farming, Crop Sensors, and temperature and humidity 
            sensors has contributed to more efficient farming methods allowing the companies to be more profitable, 
            safer, efficient and environmentally friendly. The above use cases will have the potential to drastically 
            change many aspects of farming.
        </p>
        
        <h3>
            Autonomous Farm Machines
        </h3>
        <p class="sub-content">
            The necessity to meet the labour demand is one of the challenges the farmers have to face nowadays. 
            The continuous rise of labour costs will inquire into better farming methods to make sure the costs 
            go down. Self-operating machines will enable farmers to perform precisely instructed tasks based on 
            sensors and GPS data technology and eliminate human errors while saving fuel resources. This advanced 
            technology will boost yield and decrease time and labour costs. 
        </p>

        <h3>
            Drone Farming
        </h3>
        <p class="sub-content">
            It has been a while since drone farming has been introduced with crop spraying. The latest drone 
            technology will start using the survey of crops and herds over vast areas in less time and more 
            efficiently. Drones will also collect data from the computer to analyse the conditions of the field 
            and implement accurate interventions such as nutrients, pesticides and fertilisers when most needed by crops.
        </p>

        <h3>
            Crop Sensors
        </h3>
        <p class="sub-content">
            Crop sensor technology remains a challenge for farmers in terms of which fertilisers work best, how much 
            and when to apply. The use of crop sensors gives you the chance to have plants sensation and according to 
            that apply effectively the right amount of fertilisers and pesticides.
        </p>
        
        <%- include('../includes/sectorsButton.ejs') %>
    </div>

    <script src="/js/sectors/farmAgri.js"></script>

<%- include('../includes/end.ejs') %>