<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/sectors/sectors.css">

</head>
<body>

    <%- include('../includes/navigation.ejs') %>   
    
    <div class="head-page">
        <div class="head-image">
            <div class="txt">
                <h1>Food & Beverage</h1>
            </div>
            <img alt="" src="/images/sectors/spencer-davis-W_GSHCi0cR8-unsplash.jpg">
    </div>
    
    <div class="container">
        <p>
            Digital technology has changed the way the food and beverage industry uses and operates its resources. The technologies such as IoT, data analytics, cloud, and smart sensors have the potential to transform the food and beverage industry. A growing number of companies are gathering data about changing the business atmosphere and reevaluating how the processes, resources and labour force will operate in the future. The smart sensors will collect the data taken from the equipment, send it to the IT system for analysis and give an invaluable lesson on how to improve equipment operation and make it energy efficient. 
            <br> The information then is uploaded via the cloud and accessed from anywhere at any time.
            The technologies most used in Food & Beverage Industry are:   
        </p>


        <h2>
            AI-based Technology
        </h2>
    
        <p class="sub-content">
            Knowledge about consumer preferences is substantial and helps manufacturers to do the right thing about 
            production processes. One of the technologies that make this happen is Artificial Intelligence which uses 
            customer demand data to improve many aspects of the manufacturing operations.
        </p>

        <h2>
            3D Printing
        </h2>
    
        <p class="sub-content">
            3D printing, also known as additive manufacturing, is a process that has just begun to flourish. 
            More time and experience are needed for 3D printing to reach its full potential. Thanks to multi-nozzle 
            printers which create designs directly from CAD data, it is possible to print everything from pasta, pizza, 
            chocolate, carrots etc.
        </p>

        <h2>
            Online Marketing
        </h2>
    
        <p class="sub-content">
            As a result of global warming due to recent changes, customers are trying to look into local food solutions. 
            The most effective way to reach local businesses is via online marketing where farmers can advertise their 
            products through social websites and connect with local potential buyers.
        </p>

        <h2>
            Internet of Things (IoT)
        </h2>
    
        <p class="sub-content">
            Integration of IoT has greatly improved each operational area of the food industry. Moreover, IoT 
            helps the food industry to ensure higher levels of traceability, and food safety all through the 
            farm-to-table supply chain procedures. Also, IoT will cut down on food waste, and costs and reduce 
            risks in all areas of the food and beverage industry. Smart sensors are being used to monitor the 
            temperature and shipping time. The usage of sensors significantly decreases the risk of any food illnesses. 
            GPS systems and RFID allow the distribution chain to be effectively monitored from the main storage and shipping 
            procedure at the sales point. 
        </p>


        <%- include('../includes/sectorsButton.ejs') %>
    </div>

    <script src="/js/sectors/food.js"></script>

<%- include('../includes/end.ejs') %>