<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/sectors/sectors.css">

</head>
<body>

    <%- include('../includes/navigation.ejs') %>
    
    <div class="head-page">
        <div class="head-image">
            <div class="txt">
                <h1>Health and Social Care</h1>
            </div>
            <img alt="" src="/images/sectors/marcelo-leal-k7ll1hpdhFA-unsplash.jpg">
    </div>
    
    <div class="container">
        <p>The future of healthcare lies in working hand-in-hand with technology and healthcare workers.
             We have to embrace emerging healthcare technologies in order to stay relevant in the coming years. 
        </p>

        <p>
            The current healthcare digital innovation revolution was accelerated by the global pandemic (covid-19)
             to accommodate the increasing demand for remote healthcare access.. we will explore trends that focus 
             on how governments, health and social institutes and other health industries are striving to become 
             future-ready post pandemic. It became critical to improve digital access, enhance communication, and 
             reimagine social care to better serve the vulnerable and a wider range of individuals .
       </p>
        
       <p>
        In medicine and healthcare, digital technology could help transform unsustainable healthcare systems into 
        sustainable ones, equalize the relationship between medical professionals and patients, and provide cheaper, 
        faster, and more effective solutions for diseases – technologies could win the battle for us against cancer,
         AIDS,  Ebola or COVID19 – and could simply lead to healthier individuals living in healthier communities.
        </p>

        <h2>
            Products available in Medical Technology shaping the future of healthcare:
        </h2>
        
        
        <h3>
            Artificial intelligence
        </h3>

        <p class="sub-content">
            This service shares a comprehensive aspect of the healthcare equipment market. Key Technologies 
            include laboratory, clinical research, diagnostic, therapy, ambulatory, and consumer. Strategize 
            for tomorrow with unique data across forecast revenue, unit shipments, and average selling prices. 
        </p>


        <h3>
            MRI Equipment
        </h3>

        <p class="sub-content">
            MRI manufacturers are implementing new strategies to establish additional value for healthcare 
            providers. We will provide a global and regional view of the MRI equipment market.  Understanding  
            the trends, market shifts, and opportunities for MRI, with critical data and insights 
        </p>

        <h3>
            Virtual reality 
        </h3>

        <p class="sub-content">
            VR is a medical simulation solution delivering quality, standardized simulation scenarios, 
            feedback, and blended learning on one intuitive platform, providing unlimited access to VR scenarios 
            to develop decision-making, clinical reasoning, critical thinking, communication, and teamwork. 

        </p>

        <h3>
            Augmented reality
        </h3>

        <p class="sub-content">
            Augmented reality is used in healthcare facilities across the world today, for applications that 
            include vein visualization, surgical visualization, and education.

        </p>

        <h3>
            Healthcare trackers, wearable and sensors
        </h3>

        <p class="sub-content">
            Medical trackers and wearable sensors are easy-to-use software to manage first aid, medication,
             and medical conditions. 
        </p>


        <h3>
            Medical tricorder  
        </h3>

        <p class="sub-content">
            Is a handheld medical device that could scan a patient, read vital signs, and diagnose problems in minutes
        </p>

        <h3>
            Genome sequencin
        </h3>

        <p class="sub-content">
            A laboratory method is used to determine the entire genetic makeup of a specific organism or cell type. 
            This method can be used to find changes in areas of the genome. These changes may help scientists 
            understand how specific diseases, such as cancer, form. Genome sequencing (WGS) is a comprehensive 
            method for analyzing entire genomes.
        </p>

        <h3>
            Nanotechnology
        </h3>

        <p class="sub-content">
            Nanotechnology, also shortened to nanotech, is the use of matter on an atomic, molecular, and 
            supramolecular scale for industrial purposes.
        </p>

        <h3>
            Robotics
        </h3>

        <p class="sub-content">
            Robots in the medical field are transforming how surgeries are performed, streamlining supply 
            delivery and disinfection, and enabling providers to focus on engaging with and caring for patients.
        </p>

        <h3>
            3D-printing

        </h3>

        <p class="sub-content">
            3D printing is used for the development of new surgical cutting and drill guides, prosthetics as 
            well as the creation of patient-specific replicas of bones, organs, and blood vessels. Recent advances 
            in 3D printing in healthcare have led to lighter, stronger and safer products, reduced lead times, and lower costs.
        </p>


        <%- include('../includes/sectorsButton.ejs') %>
        


    </div>

    <script src="../js/sectors/healthSocial.js" type="module"></script>

    <%- include('../includes/end.ejs') %>