<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/sectors/sectors.css">

</head>
<body>

    <%- include('../includes/navigation.ejs') %>
    
    <div class="head-page">
        <div class="head-image">
            <div class="txt">
                <h1>Industrial & Manufacturing</h1>
            </div>
            <img alt="" src="/images/sectors/national-cancer-institute-oCLuFi9GYNA-unsplash.jpg">
    </div>
    
    <div class="container">

        <h2>
            Industrial & Manufacturing
        </h2>

        <p>
            Technology has played and will always play an important role in the future industrial and manufacturing 
            development. There are a few methods by which technology helps industrial development. First of all, it 
            offers discoveries that are needed to boost different sectors of industry. Secondly, it simplifies the 
            work process, reducing the time and performing tasks faster and more efficiently. The operation of different 
            useful software to make business plans enables to cut production costs and increase profit. Even when facing 
            a challenge such as a breakdown in the manufacturing process the manufacturers will be able to continue working 
            without any concern as technology will help in solving the breakdown. Another benefit of using technology is 
            the ability of mobility will allow the employees to be able to operate anywhere at any time without delay. 
            The managers can communicate while being in different locations via virtual tools such as online meetings.
        </p>
        
        <%- include('../includes/sectorsButton.ejs') %>
    </div>

    <script src="/js/sectors/industmanuf.js"></script>

<%- include('../includes/end.ejs') %>