<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/sectors/sectors.css">

</head>
<body>

    <%- include('../includes/navigation.ejs') %>
    
    <div class="head-page">
        <div class="head-image">
            <div class="txt">
                <h1>Life Science</h1>
            </div>
            <img alt="" src="/images/sectors/national-cancer-institute-oCLuFi9GYNA-unsplash.jpg">
    </div>
    
    <div class="container">

        <h2>
            Life Science
        </h2>

        <p>
            Life Science contributes to the advancement of human health globally through research, insightful analysis, 
            and scientific expertise applied to granular non-identified patient-level data. As the stakeholders look 
            for new ways to offer patients more meaningful experiences, they are evolving patients for engagement and 
            satisfaction. The life sciences should cooperate with patients to get insights into what patients’ 
            preferences and needs are, their skills,  and how they can help us shape industries. 
        </p>
        
        <p>
            Digital health, digital medicine, and digital therapeutics are an opportunity to create more personalised 
            experiences and new methods to become more patient-centric. In the coming years, life science and MedTech 
            companies will invest more in digital capabilities for more personalised therapies and patient support.
        </p>

        <p>
            AI-driven engagement, connected patient, and health care provider platforms provide patients and partners 
            timely access to relevant content and treatments. 
        </p>

        <%- include('../includes/sectorsButton.ejs') %>
    </div>

    <script src="/js/sectors/lifeSci.js"></script>

<%- include('../includes/end.ejs') %>