<%- include('../includes/head.ejs') %>  
<link rel="stylesheet" href="/css/sectors/sectors.css">

</head>
<body>

    <%- include('../includes/navigation.ejs') %> 

    <div class="head-page">
        <div class="head-image">
            <div class="txt">
                <h1>Transport & Logistics</h1>
            </div>
            <img alt="" src="/images/sectors/chuttersnap-eqwFWHfQipg-unsplash.jpg">
    </div>
    
    <div class="container">
        <p>
            Digital technology integration significantly increased during Covid 19 pandemic, thus affecting 
            everything from online marketing to the global supply chain. Consumers know more about technology 
            and this fact makes them ask more from businesses. They demand great customer service, quick shipping, 
            a real-time tracking process and flexibility. Only keeping up with the latest technologies and making 
            sure to meet customer demands will offer survival in the long run for the businesses. Here there are the 
            latest logistic technology applications that will shape the industry in the future.
        </p>


        <h2>
            Automation
        </h2>
    
        <p class="sub-content">
            Due to the global pandemic businesses have to do rapid changes in automation as a way to minimise face to 
            face interactions. Warehouse automation involves anything from process automation to physical automation. 
            Distribution centre automation requires digitization of manual processes, operation of autonomous robots 
            inside the warehouse, barcode scanning and LED lights showing the number of items for pick up and their 
            destination. However, automation processes in businesses vary from one warehouse to another depending on 
            the size, the volume of it and order type.
        </p>

        <h2>
            Blockchain Technology 
        </h2>
    
        <p class="sub-content">
            Blockchain is described as a decentralised ledger technology that authorizes data transactions between 
            different parties transparently and securely. Parts of the logistic chain still use manual processes 
            assigned by regulatory authorities making it difficult to track the goods delivery and shipment tracking 
            as they move along the supply chain. Blockchain helps overcome those challenges by increasing logistics 
            process efficiency and enabling data transparency. One of the significant characteristics of blockchain 
            is a smart contract which automatically implements business agreed on rules and process steps.
        </p>

        <h2>
            Artificial Intelligence and Machine learning 
        </h2>
    
        <p class="sub-content">
            Without any doubt that artificial intelligence (AI) and machine learning (ML) have been playing an important 
            role in changing the way how the transportation and logistics sector operates. The large stream of data obtained 
            from the supply chain is being exploited and analysed to identify developments in the supply chain so logistics 
            firms can adapt to those changes in their organizations. The use of AI and ML to identify every link within the 
            supply chain is set to continue. AI, when involved in decision-making in the supply chain, minimises human error. 
            AI in warehouse management makes the planning process much easier by speeding up analysis time.
        </p>

        <h2>
            IoT - Internet of Things 
        </h2>
    
        <p class="sub-content">
            IoT is changing most aspects of our lives. In logistics, IoT adoption results in the progress of different 
            connections between goods, packaging, transportation hubs, and vehicles. It offers more data that helps 
            in managing assets remotely, predicting risk, ensuring proper cargo handling, and forecasting traffic 
            congestion. A combination of IoT with blockchain technology may provide end-to-end visibility of goods.
        </p>

        <h2>
            TMS (Transportation Management System) 
        </h2>
    
        <p class="sub-content">
            TMS systems are becoming popular, particularly amongst logistics companies. And rightly so given that many 
            technological tools require proper organisation and management in one common centre. The main purpose of 
            TMS is carrier management and route automation optimization. It is suitable for tracking delivery drivers 
            in real-time, decreasing freight expenses, increasing transparency, and enhancing generally customer 
            satisfaction scores.
        </p>

        <%- include('../includes/sectorsButton.ejs') %>
    </div>

    <script src="/js/sectors/energy.js"></script>

<%- include('../includes/end.ejs') %>